body {
    margin-left: 10%;
    margin-right: 10%;

    header:not(main header) {
        background-color: yellow;
        padding: 8px;
        margin-bottom: 30px;
    }

    main {
        
            box-shadow: 10px 10px 5px black;
        border: solid;
        margin-bottom: 100px;
        flex-wrap: wrap;
        
        header {
            width: 100%;
            background-color: white;
          align-items: center;
            
            nav{
                
                width: 33%;
                flex-wrap: wrap;
                article:first-child{
                   align-items: center;
                }
               
            }
        }
        table,tr{
            border: solid 1px grey;
        }

        
        
    }
    }
    .card{
        box-shadow: 10px 0px 5px black;
        
    }

    span{
        p{
            color: white;
            background-color: black;
            border-radius: 100px;
            padding: 10px;
            text-align: center;
        }
    }
    